<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= site %></title>
    <meta name="description" content="<%= site %>">
    <link rel="icon" type="image/png" href="/assets/img/logo.png">
    <link rel="favorite icon" type="image/png" href="/assets/img/logo.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="stylesheet" href="//unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/default.min.css">
</head>

<body>
    <div class="container d-flex justify-content-center mt-5 pt-2">
        <h1><%= site %> DB Management</h1>
    </div>
    <%_ if (hasScope(user, 'users')) { _%>
    <div class="d-flex justify-content-center parent">
        <div class="content-lg">
            <h4>Users</h4>
            <hr>
            <table id="users"></table>
        </div>
    </div>
    <%_ } _%>
    <%_ if (hasScope(user, 'links')) { _%>
    <div class="d-flex justify-content-center parent">
        <div class="content-lg">
            <h4>Links</h4>
            <hr>
            <table id="links"></table>
        </div>
    </div>
    <%_ } _%>
    <%_ if (hasScope(user, 'pastes')) { _%>
    <div class="d-flex justify-content-center parent">
        <div class="content-lg">
            <h4>Pastes</h4>
            <hr>
            <table id="pastes"></table>
        </div>
    </div>
    <%_ } _%>
    <%_ if (hasScope(user, 'upload') || hasScope(user, 'download')) { _%>
    <div class="d-flex justify-content-center parent">
        <div class="content-lg">
            <h4>Files</h4>
            <hr>
            <table id="files"></table>
        </div>
    </div>
    <%_ } _%>

    <div class="d-none">
        <form method="POST" action="/api/delete" id="delete">
            <input type="text" name="table" id="delete-table" />
            <input type="text" name="item" id="delete-item" />
        </form>
    </div>
    <div class="container d-flex justify-content-center mt-5 pt-2 pb-5 bottom">
        <a href="/admin">
            <h5><i class="fas fa-arrow-left mr-2"></i>Back</h5>
        </a>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js"></script>
    <script>
        let db = "<%- encodeURIComponent(JSON.stringify(db)) %>";
        db = JSON.parse(decodeURIComponent(db));

        const idToLink = (prefix) => {
            return (value, row, index) => `
                <a href="/${prefix}/${value.replace(/"/g, '')}" target="_blank">${value}</a>
            `;
        };

        const deleteButton = (table) => {
            return {
                field: 'delete',
                title: 'Delete',
                formatter: (value, row, index) => `
                    <button data-table="${table}" data-index="${index}" class="btn btn-danger${row.disabled ? " disabled" : ""}" onclick="deleteItem(this)">Delete</button>
                `
            }
        };

        const deleteItem = (ele) => {
            let table = ele.getAttribute("data-table");
            let index = parseInt(ele.getAttribute("data-index"));

            if(db[table][index]) {
                $("#delete-table").val(table);
                $("#delete-item").val(db[table][index].id || db[table][index].user);
                $("#delete").submit();
            }
        };

        <%_ if (hasScope(user, 'users')) { _%>
        $('#users').bootstrapTable({
            pagination: true,
            search: true,
            columns: [{
                field: 'user',
                title: 'Username'
            }, {
                field: 'scopes',
                title: 'Scopes',
                formatter: (value, row, index) => value.join(", ")
            },
                deleteButton('users')
            ],
            data: db.users
        });
        <%_ } _%>
        <%_ if (hasScope(user, 'links')) { _%>
        $('#links').bootstrapTable({
            pagination: true,
            search: true,
            columns: [{
                field: 'user',
                title: 'Username'
            }, {
                field: 'date',
                title: 'Date',
                formatter: (value, row, index) => new Date(value*1000).toLocaleString()
            }, {
                field: 'url',
                title: 'URL'
            }, {
                field: 'id',
                title: 'ID',
                formatter: idToLink("u")
            },
                deleteButton('links')
            ],
            data: db.links
        });
        <%_ } _%>
        <%_ if (hasScope(user, 'pastes')) { _%>
        $('#pastes').bootstrapTable({
            pagination: true,
            search: true,
            columns: [{
                field: 'user',
                title: 'Username'
            }, {
                field: 'date',
                title: 'Date',
                formatter: (value, row, index) => new Date(value*1000).toLocaleString()
            }, {
                field: 'title',
                title: 'Title'
            }, {
                field: 'type',
                title: 'Type'
            }, {
                field: 'expire',
                title: 'Expire',
                formatter: (value, row, index) => value ? new Date(value*1000).toLocaleString() : "never"
            }, {
                field: 'burn',
                title: 'Burn',
                formatter: (value, row, index) => value ? "true" : "false"
            }, {
                field: 'id',
                title: 'ID',
                formatter: idToLink("p")
            }, 
                deleteButton('pastes')
            ],
            detailFormatter: (index, row, element) => {
                let pre = $('<pre>'), code = $('<code>');
                code.text(row.text);
                code.appendTo(pre);
                pre.appendTo($(element));
                hljs.highlightAll();
            },
            detailView: true,
            data: db.pastes
        });
        <%_ } _%>
        <%_ if (hasScope(user, 'upload') || hasScope(user, 'download')) { _%>
        $('#files').bootstrapTable({
            pagination: true,
            search: true,
            columns: [{
                field: 'user',
                title: 'Username'
            }, {
                field: 'date',
                title: 'Date',
                formatter: (value, row, index) => new Date(value*1000).toLocaleString()
            }, {
                field: 'name',
                title: 'Name'
            }, {
                field: 'type',
                title: 'Type'
            }, {
                field: 'expire',
                title: 'Expire',
                formatter: (value, row, index) => value ? new Date(value*1000).toLocaleString() : "never"
            }, {
                field: 'id',
                title: 'ID',
                formatter: idToLink("f")
            },
                deleteButton('files')
            ],
            detailFormatter: async (index, row, element) => {
                if(row.type.includes("image/")) {
                    let img = $('<img>', { src: `/f/${row.id}` });
                    img.appendTo($(element));
                }
                else if(row.type.includes("text/")) {
                    let content = await (await fetch(`/f/${row.id}`)).text();
                    let pre = $('<pre>'), code = $('<code>');
                    code.text(content);
                    code.appendTo(pre);
                    pre.appendTo($(element));
                    hljs.highlightAll();
                }
                else {
                    let iframe = $('<iframe>', { src: `/f/${row.id}`, style: "width: 100%; height: 75vh" });
                    iframe.appendTo($(element));
                }
            },
            detailView: true,
            data: db.files
        });
        <%_ } _%>
    </script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
</body>
</html>