<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title><%= site %></title>
    <meta name="description" content="<%= site %>">
    <link rel="icon" type="image/png" href="/assets/img/logo.png">
    <link rel="favorite icon" type="image/png" href="/assets/img/logo.png">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body>
    <div class="d-flex justify-content-center align-items-center center-parent">
        <div class="center-content background"></div>
        <div class="center-content"><img class="logo" src="assets/img/logo.png">
            <div class="content-body">
                <h5 class="text-left"><strong>z3.is</strong>&nbsp;very cool</h5>
            </div>
            <hr>
            <h5>find me also at:</h5>
                <a class="social-link" href="https://brycec.me">
                    <i class="fas fa-external-link-alt"></i>brycec.me
                </a>
                <a class="social-link" href="https://blog.brycec.me">
                    <i class="fas fa-blog"></i>blog
                </a>
                <a class="social-link" href="https://github.com/strellic">
                    <i class="fab fa-github"></i>strellic
                </a>
                <a class="social-link" href="https://twitter.com/Strellic_">
                    <i class="fab fa-twitter"></i>@Strellic_
                </a>
                <p class="social-link">
                    <i class="fab fa-discord"></i>Strellic#2507
                </p>
            <hr> 
            <div class="row d-flex justify-content-center">
                <a class="social-link text-center mb-0" href="https://github.com/strellic/z3.is">
                    <i class="fab fa-github"></i>
                </a>
                <a class="social-link text-center mb-0" href="/admin/">
                    <i class="fas fa-users-cog"></i>
                </a>
            </div>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>